name: Build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '.idea/**'
      - '*.md'
      - 'LICENSE'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.idea/**'
      - '*.md'
      - 'LICENSE'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
    - name: Validate Gradle wrapper
      uses: gradle/wrapper-validation-action@v1
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Build with Gradle
      run: ./gradlew build
